.form {
    font-family: "Comic Sans MS", sans-serif;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    transition: all 0.3s ease-in;
}

.formShow {
    animation: showForm 0.4s ease-in forwards;
}

@keyframes showForm {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.tooltip {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: #f6fcff;
    color: #074c91;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    width: 100%;
    margin-left: -100%;
    bottom: 100%;
    font-size: 16px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
.formInput {
    width: 33%;
    border-radius: .5em;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #074c91;
    margin-left: 10px;
    padding-left: 5px;
    margin-right: 10px;
}

.formSearchBtn {
    background: #074c91;
    font-family: "Comic Sans MS", sans-serif;
    border-radius: 7px;
    border-color: #074c91;
    outline: 0;
    color: white;
}

.formSearchBtn:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}